<!-- Footer -->

	<footer class="footer">
		<div class="container">
			
			<!-- Newsletter -->

			<div class="newsletter">
				<div class="row">
					<div class="col">
						<div class="section_title text-center">
							<h1>Subscribe to Paper</h1>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col text-center">
						<div class="newsletter_form_container mx-auto">
							<form action="post">
								<div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
									<input id="newsletter_email" class="newsletter_email" type="email" placeholder="Email Address" required="required" data-error="Valid email is required.">
									<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>

			<!-- Footer Content -->

			<div class="footer_content">
				<div class="row">

					<!-- Footer Column - About -->
					<div class="col-lg-3 footer_col">

						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
                                {% load staticfiles %}
                                <img src="{% static "images/logo.png" %}" alt="">
								<span>Paper</span>
							</div>
						</div>

						<p class="footer_about_text">We provides online testpapers for students class 8th, class 9th and class 10th.</p>

					</div>

					<!-- Footer Column - Menu -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Menu</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="/app1/">Home</a></li>
								<li class="footer_list_item"><a href="/app1/about/">About Us</a></li>
								<li class="footer_list_item"><a href="/app1/courses/">Courses</a></li>
								<li class="footer_list_item"><a href="/app1/news/">News</a></li>
								<li class="footer_list_item"><a href="/app1/contact/">Contact</a></li>
							</ul>    
						</div>
					</div>

					<!-- Footer Column - Usefull Links -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title"></div>
						<div class="footer_column_content">
							
						</div>
					</div>

					<!-- Footer Column - Contact -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Contact</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
                                        {% load staticfiles %}
										<img src="{% static "app1/images/placeholder.svg" %}" alt="">
									</div>
									Sector 3, Jawahar Nagar,Jaipur
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
                                        {% load staticfiles %}
                                        <img src="{% static "app1/images/smartphone.svg" %}" alt="">
									</div>
									+91 80055 87031
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
                                        {% load staticfiles %}
                                        <img src="{% static "app1/images/envelope.svg" %}" alt="">
									</div>paper@company.com
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>

			

			<div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
				<div class="footer_copyright">
					<span>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |<i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://paper.com" target="_blank">Paper</a></span>
				</div>
				<div class="footer_social ml-sm-auto">
					<ul class="menu_social">
						<li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>

		</div>
	</footer>

</div>
<script src="{'../../static/app1/js/jquery-3.2.1.min.js'}"></script>
<script src="{'../../static/app1/styles/bootstrap4/popper.js'}"></script>
<script src="{'../../static/app1/styles/bootstrap4/bootstrap.min.js'}"></script>
<script src="{'../../static/app1/plugins/greensock/TweenMax.min.js'}"></script>
<script src="{'../../static/app1/plugins/greensock/TimelineMax.min.js'}"></script>
<script src="{'../../static/app1/plugins/scrollmagic/ScrollMagic.min.js'}"></script>
<script src="{'../../static/app1/plugins/greensock/animation.gsap.min.js'}"></script>
<script src="{'../../static/app1/plugins/greensock/ScrollToPlugin.min.js'}"></script>
<script src="{'../../static/app1/plugins/OwlCarousel2-2.2.1/owl.carousel.js'}"></script>
<script src="{'../../static/app1/plugins/scrollTo/jquery.scrollTo.min.js'}"></script>
<script src="{'../../static/app1/plugins/easing/easing.js'}"></script>
<script src="{'../../static/app1/js/custom.js'}"></script>
</body>
</html>